@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background: #f5821f 0%;
}
input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}

input[type='checkbox']:checked {
  background-color: #f5821f;
  border-color: white;
}

input[type='checkbox']:checked::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
